html {
  height: 100%;
}

body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(96, 204, 197);
  height: 50px;
  width: 100%;
  display: table;
  position: fixed;
  z-index: 99;
  opacity: 0.9;
}

#header_logo {
  margin: 0px;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  padding: 0px 0px 0px 20px;
}

.header_menu {
  margin: 0;
  padding: 15px 0px;
  float: left;
}

.header_menu li {
  float: left;
  padding-right: 30px;
}

#header_search_form {
  float: right;
  padding: 15px 15px 0px 0px;
}

.notifications {
  position: fixed;
  top: 50px;
  height: 10px;
  width: 100%;
  text-align: center;
  color: white;
}

.alert {
  background-color: rgb(255, 121, 97);
}

.notice {
  background-color: rgb(44, 231, 130);
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.button {
  color: white;
  background-color: rgb(96, 204, 197);
  padding: 15px;
  border-radius: 15px;
  opacity: 0.8;
}

.logout_button {
  display: inline-block;
  position: absolute;
  bottom: 20%;
  left: 30%;
}

.button a {
  color: white;
  font-size: 0.9rem;
}

.button:hover {
  opacity: 1.0;
}

.wrapper {
  background-color: rgb(230, 230, 230);
  min-height: 100%;
  padding: 50px 0px 100px 0px;
}

.not_scroll {
  overflow: hidden;
}

.introduction {
  height: 600px;
  background-image: url("/assets/top_picture.jpg");
  background-size: cover;
  position: relative;
}

.links {
  padding-top: 50px;
}

.top_links_pic {
  display: inline-block;
  height: 100px;
}

.links h3 {
  color: rgb(92, 92, 92);
  padding: 20px 0px 50px 0px;
}

.links p {
  color: rgb(138, 138, 138);
  padding-top: 20px;
  font-size: 0.8rem;
}

.top_login {
  float: left;
  width: 49%;
  text-align: center;
}

.top_news {
  float: right;
  width: 50%;
  border-left: solid 1px rgb(138, 138, 138);
  text-align: center;
}

#top_copy {
  color: white;
  width: 70%;
  text-align: center;
  font-size: 3rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

#introduction_button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.side_menu {
  height: 100%;
  width: 20%;
  float: left;
  background-color: rgb(230, 230, 230);
  padding-top: 80px;
  position: fixed;
  z-index: 50;
  text-align: center;
}
#current_user_screen_name {
  font-size: 1.2rem;
}
#now_login {
  display: inline-block;
  color: white;
  background-color: rgb(96, 204, 197);
  padding: 8px;
  border-radius: 15px;
  opacity: 0.8;
  font-size: 0.8rem;
}

#side_menu_menu {
  padding: 0px;
  margin-top: 10px;
}

#timeline {
  height: 100%;
  width: 80%;
  float: right;
}

.post {
  background-color: white;
  padding: 20px;
  margin: 30px auto;
  width: 80%;
  border-radius: 15px;
}

.que {
  background-color: white;
  padding: 20px;
  margin: 30px auto;
  width: 80%;
  border-radius: 15px;
}

#contribution_form {
  width: 80%;
  float: right;
  padding-top: 50px;
  text-align: center;
  resize: none;
}

#contribution_form textarea {
  width: 70%;
  height: 100px;
  border: solid 2px rgb(96, 204, 197);
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
}

footer {
  background-color: rgb(56, 125, 120);
  color: white;
  text-align: center;
  height: 50px;
  width: 100%;
  position:sticky;
  z-index: 98;
}

.fixed {
  position: fixed;
  bottom: 0;
}

#footer_print {
  margin: 0px;
  padding: 10px 0px;
}
