.container {
  width: 40%;
  background-color: rgb(220, 220, 220);
  border: solid 3px rgb(96, 204, 197);
  margin: 120px auto;
  padding: 30px 50px 50px 50px;
  border-radius: 20px;
}

.container_title {
  text-align: center;
  padding-bottom: 20px;
}

.forms {
  width: 70%;
  margin: 0 auto;
  font-size: 0.8rem;
}

.forms label{
  margin: 0 auto;
  display: inline-block;
  padding: 5px;
}

.forms input {
  display: block;
  background-color: rgb(175, 238, 234);
  border: solid 2px rgb(96, 204, 197);
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  width: 100%;
}

.submit_button input {
  background-color: rgb(96, 204, 197);
  margin-top: 20px;
  width: 50%;
  color: white;
}

.shared_link {
  font-size: 0.8rem;
  text-align: right;
  padding-top: 20px;
}
